<div class="container">
  <div class="right">
    <a class="btn green lighten-2" id="assignPrefixBtn">Assign Prefix</a>
    <a class="btn blue lighten-2" id="editSiteBtn">Edit Site</a>
    {{#if loggedIn}}<a class="btn red lighten-2" id="deleteSiteBtn">Delete Site</a>
    {{else}}<a id="deleteSiteBtn"></a>{{/if}}
  </div>
  <h3 class="siteName">{{site.name}}</h3>{{#if site.description}}<h6>Description - {{site.description}}</h6>{{else}}<h6>Description - </h6>{{/if}}{{#if site.alias}}<h6>Alias - {{site.alias}}</h6>{{else}}<h6>Alias - </h6>{{/if}}
  <div class="row mt-4">
    <div class="col s12 no-padding">
      <table id="theTable">
        <thead class="grey lighten-3">
          <tr>
            <th>Prefix</th>
            <th>Type</th>
            <th>System</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each prefixes}}
          <tr>
            <td><a href="/prefixes/prefix/{{this.id}}" id='name-{{this.id}}'>{{this.prefix}}</a></td><td>{{this.type}}</td><td>{{this.system}}</td><td>{{this.description}}</td><td><a href="#" alt="Unassign Prefix"><i class="unassignPrefix edit-item fas fa-trash tooltipped" data-tooltip="Unassign Prefix" id="{{this.id}}"></i></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="z-depth-5 popup-hidden" id="assign-prefix">
      <h5 class="center" id="assignPrefixHeader">Assign Prefix to Site</h5>
      <br><br>
      <form class="container" action="/prefixes/assign" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="text" name="prefix" id="site-prefix" data-length="50" class="autocomplete" autofocus required>
            <label for="site-prefix">Prefix</label>
          </div>
          <input type="hidden" name="site" id="site" value="">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="assignPrefix" id="assignPrefix">Assign</button>
            <button class="btn" type="button" name="cancel" id="assignPrefixCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5 popup-hidden" id="unassign-prefix">
      <h5 class="center" id="unassignPrefixHeader">Unassign Prefix from Site</h5>
      <br><br>
      <form class="container" action="/prefixes/unassign" method="POST" class="col">
        <div class="row">
          <input type="hidden" name="unprefixID" id="unprefixID" value="">
          <input type="hidden" name="unprefixName" id="unprefixName" value="">
          <input type="hidden" name="unsite" id="unsite" value="{{site.name}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="unassignPrefix" id="unassignPrefix">Unassign</button>
            <button class="btn" type="button" name="uncancel" id="unassignPrefixCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5 popup-hidden" id="edit-site">
      <h5 class="center" id="editSiteHeader">Edit Site</h5>
      <form class="container" action="/sites/edit" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="text" name="siteName" id="siteName" value="{{site.name}}">
            <label for="siteName">Name</label>
          </div>
          <div class="input-field">
            <input type="text" name="siteDescription" id="siteDescription" value="{{site.description}}">
            <label for="siteDescription">Description</label>
          </div>
          <div class="input-field">
            <input type="text" name="siteAlias" id="siteAlias" value="{{site.alias}}">
            <label for="siteAlias">Alias</label>
          </div>
          <input type="hidden" name="siteCurrent" id="siteCurrent" value="{{site.name}}">
          <input type="hidden" name="siteID" id="siteID" value="{{site._id}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="editSite" id="editSite">Submit</button>
            <button class="btn" type="button" name="cancel" id="editSiteCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5 popup-hidden" id="delete-site">
      <h5 class="center" id="deleteSiteHeader">Confirm Delete</h5>
      <h6 class="center">Deleting this site will unassign all of its prefixes as well!</h6>
      <br><br>
      <form class="container" action="/sites/delete" method="POST" class="col">
        <div class="row">
          <input type="hidden" name="siteName" id="siteName" value="{{site.name}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="deleteSite" id="deleteSite">Delete</button>
            <button class="btn" type="button" name="cancel" id="deleteSiteCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/sites.js"></script>