<div class="container">
  <div class="right">
    <a class="btn blue lighten-2">Edit Prefix</a>
    <a class="btn red lighten-2">Delete Prefix</a>
  </div>
  <h3>{{name}} {{#if system}} - {{system}} {{/if}}</h3>{{#if this.site}}<h6>Site - {{this.site}}</h6>{{else}}<h6>Site - </h6>{{/if}}{{#if this.subnet}}<h6>Subnet - {{this.subnet}}</h6>{{else}}<h6>Subnet - </h6>{{/if}}<h6>Gateway - {{this.gateway}}</h6><h6>Prefix - {{this.prefix}}</h6>
  <div class="row mt-4">
    <div class="col s12 no-padding">
      <table id="theTable">
        <thead class="grey lighten-3">
          <tr>
            <th>IP Address</th>
            <th>Status</th>
            <th>Customer</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each address}}
          <tr>
            <td><a href="/addresses/address/{{this._id}}">{{this.ip}}</td><td>{{this.status}}</td><td id="name-{{this._id}}">{{this.customer.name}}</td><td>{{this.description}}</td><td><a href="#" alt="Assign Customer"><i class="assignCustomer edit-item fas fa-user-plus tooltipped" data-tooltip="Assign Customer" id="{{this._id}}"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" alt="Unassign Customer"><i class="unassignCustomer edit-item fas fa-user-minus tooltipped" data-tooltip="Unassign Customer" id="{{this._id}}"></i></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="z-depth-5" id="assign-address">
      <h5 class="center" id="assignIPHeader">Assign Customer to IP</h3>
      <br><br>
      <form class="container" action="/addresses/assign" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="text" name="customer" id="address-customer" data-length="50" class="autocomplete" autofocus required>
            <label for="address-customer">Customer</label>
            <input type="hidden" name="addressID" id="addressID" value="">
            <input type="hidden" name="prefixID" id="prefixID" value="{{this.id}}">
          </div>
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="assignCustomer" id="assignCustomer">Assign</button>
            <button class="btn" type="button" name="close" id="assignCustomerClose">Close</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5" id="unassign-address">
      <h5 class="center" id="unassignIPHeader">Unassign Customer from IP</h3>
      <br><br>
      <form class="container" action="/addresses/unassign" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="hidden" name="unaddressID" id="unaddressID" value="">
            <input type="hidden" name="uncustomer" id="uncustomer" value="">
            <input type="hidden" name="unprefixID" id="unprefixID" value="{{this.id}}">
          </div>
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="unassignCustomer" id="unassignCustomer">Unassign</button>
            <button class="btn" type="button" name="unclose" id="unassignCustomerClose">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/addresses-un_assign.js"></script>