<div class="container">
  <div class="right">
    <a class="btn blue lighten-2" id="editPrefixBtn">Edit Prefix</a>
    {{#if loggedIn}}<a class="btn red lighten-2" id="deletePrefixBtn">Delete Prefix</a>{{/if}}
  </div>
  <h3>{{name}} {{#if system}} - {{system}} {{/if}}</h3>{{#if description}}<h6>Description - {{description}}</h6>{{else}}<h6>Description - </h6>{{/if}}{{#if site}}<h6>Site - {{site}}</h6>{{else}}<h6>Site - </h6>{{/if}}{{#if subnet}}<h6>Subnet - {{subnet}}</h6>{{else}}<h6>Subnet - </h6>{{/if}}<h6>Gateway - {{gateway}}</h6><h6>Prefix - {{prefix}}</h6>
  <div class="row mt-4">
    <div class="col s12 no-padding">
      <table id="theTable">
        <thead class="grey lighten-3">
          <tr>
            <th>IP Address</th>
            <th>Status</th>
            <th>Customer</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each address}}
          <tr>
            <td><a href="/addresses/address/{{this._id}}" id="ip-{{this._id}}">{{this.ip}}</td><td>{{this.status}}</td><td id="name-{{this._id}}">{{this.customer.name}}</td><td>{{this.description}}</td><td><a href="#" alt="Assign Customer"><i class="assignCustomer edit-item fas fa-user-plus tooltipped" data-tooltip="Assign Customer" id="{{this._id}}"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" alt="Unassign Customer"><i class="unassignCustomer edit-item fas fa-user-minus tooltipped" data-tooltip="Unassign Customer" id="{{this._id}}"></i></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="z-depth-5 popup-hidden" id="assign-address">
      <h5 class="center" id="assignIPHeader">Assign Customer to IP</h5>
      <br><br>
      <form class="container" action="/addresses/assign" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="text" name="customer" id="address-customer" data-length="50" class="autocomplete" autofocus required>
            <label for="address-customer">Customer</label>
          </div>
          <input type="hidden" name="addressID" id="addressID" value="">
          <input type="hidden" name="addressIP" id="addressIP" value="">
          <input type="hidden" name="prefixID" id="prefixID" value="{{this.id}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="assignCustomer" id="assignCustomer">Assign</button>
            <button class="btn" type="button" name="cancel" id="assignCustomerCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5 popup-hidden" id="unassign-address">
      <h5 class="center" id="unassignIPHeader">Unassign Customer from IP</h5>
      <br><br>
      <form class="container" action="/addresses/unassign" method="POST" class="col">
        <div class="row">
          <input type="hidden" name="unaddressID" id="unaddressID" value="">
          <input type="hidden" name="unaddressIP" id="unaddressIP" value="">
          <input type="hidden" name="uncustomer" id="uncustomer" value="">
          <input type="hidden" name="unprefixID" id="unprefixID" value="{{this.id}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="unassignCustomer" id="unassignCustomer">Unassign</button>
            <button class="btn" type="button" name="uncancel" id="unassignCustomerCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5 popup-hidden" id="edit-prefix">
      <h5 class="center" id="editPreifxHeader">Edit Prefix</h5>
      <form class="container" action="/prefixes/edit" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="text" name="editPrefixName" id="editPrefixName" value="{{name}}">
            <label for="prefixName">Name</label>
          </div>
          <div class="input-field">
            <input type="text" name="prefixSystem" id="prefixSystem" value="{{system}}">
            <label for="prefixSystem">System</label>
          </div>
          <div class="input-field">
            <input type="text" name="prefixDescription" id="prefixDescription" value="{{description}}">
            <label for="prefixDescription">Description</label>
          </div>
          <div class="input-field">
            <input type="text" name="prefixSubnet" id="prefixSubnet" value="{{subnet}}">
            <label for="prefixSubnet">Subnet</label>
          </div>
          <input type="hidden" name="editPrefixID" id="editPrefixID" value="{{id}}">
          <input type="hidden" name="prefixPrefix" id="prefixPrefix" value="{{prefix}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="editPrefix" id="editPrefix">Submit</button>
            <button class="btn" type="button" name="cancel" id="editPrefixCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5 popup-hidden" id="delete-prefix">
      <h5 class="center" id="deletePrefixHeader">Confirm Delete</h5>
      <h6 class="center">Deleting this prefix will delete all of its IPs as well!</h6>
      <br><br>
      <form class="container" action="/prefixes/delete" method="POST" class="col">
        <div class="row">
          <input type="hidden" name="prefixName" id="prefixName" value="{{prefix}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="deletePrefix" id="deletePrefix">Delete</button>
            <button class="btn" type="button" name="cancel" id="deletePrefixCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/prefixes.js"></script>