<div class="container">
  <h4>Prefixes</h4>
  <div class="row mt-4">
    <div class="col s12 no-padding">
      <table>
        <thead class="grey lighten-3">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>System</th>
            <th>Description</th>
            <th>Prefix</th>
            <th>Site</th>
            <th>Gateway</th>
            <th>Subnet</th>
          </tr>
        </thead>
        <tbody>
          {{#each prefix}}
          <tr>
            <td><a href="/prefixes/prefix/{{this._id}}">{{this.name}}</a></td><td>{{this.type}}</td><td>{{this.system}}</td><td>{{this.description}}</td><td id="{{this.prefix}}">{{this.prefix}}</td><td>{{this.site}}</td><td>{{this.gateway}}</td><td>{{this.subnet}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>