<div class="container">
  <div class="right">
    <a class="btn blue lighten-2">Edit Description</a>
    <a class="btn red lighten-2">Delete Address</a>
  </div>
  <h3>{{address.ip}}</h3>{{#if address.description}}<h6>Description - {{address.description}}</h6>{{else}}<h6>Description - </h6>{{/if}}<h6>Subnet - {{address.subnet}}</h6><h6>Gateway - {{address.gateway}}</h6><h6>Prefix - {{address.prefix}}</h6>
  <div class="row mt-4">
    <div class="col s12 no-padding">
      <table id="theTable">
        <thead class="grey lighten-3">
          <tr>
            <th>Status</th>
            <th>Customer</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{address.status}}</td><td id="name-{{address.id}}">{{address.customer.name}}</td><td><a href="#" alt="Assign Customer"><i class="assignCustomer edit-item fas fa-user-plus tooltipped" data-tooltip="Assign Customer" id="{{address.id}}"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" alt="Unassign Customer"><i class="unassignCustomer edit-item fas fa-user-minus tooltipped" data-tooltip="Unassign Customer" id="{{address.id}}"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="z-depth-5" id="assign-address">
      <h5 class="center" id="assignIPHeader">Assign Customer to IP</h3>
      <br><br>
      <form class="container" action="/addresses/assign" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="text" name="customer" id="address-customer" data-length="50" class="autocomplete" autofocus required>
            <label for="address-customer">Customer</label>
            <input type="hidden" name="addressID" id="addressID" value="">
            <input type="hidden" name="prefixID" id="prefixID" value="{{this.id}}">
          </div>
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="assignCustomer" id="assignCustomer">Assign</button>
            <button class="btn" type="button" name="cancel" id="assignCustomerCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5" id="unassign-address">
      <h5 class="center" id="unassignIPHeader">Unassign Customer from IP</h3>
      <br><br>
      <form class="container" action="/addresses/unassign" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="hidden" name="unaddressID" id="unaddressID" value="">
            <input type="hidden" name="uncustomer" id="uncustomer" value="">
            <input type="hidden" name="unprefixID" id="unprefixID" value="{{this.id}}">
          </div>
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="unassignCustomer" id="unassignCustomer">Unassign</button>
            <button class="btn" type="button" name="uncancel" id="unassignCustomerCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/addresses-un_assign.js"></script>