<div class="container">
  <div class="right">
    <a class="btn blue lighten-2" id="editAddressBtn">Edit Address</a>
  </div>
  <h3 id="ip-{{address.id}}">{{address.address}}</h3><h6>Customer - {{address.tenant.name}}</h6>{{#if subnet}}<h6>Subnet - {{subnet}}</h6>{{/if}}{{#if gateway}}<h6>Gateway - {{gateway}}</h6>{{/if}}{{#if address.description}}<h6>Description - {{address.description}}</h6>{{/if}}
  <div class="row mt-4">
    <div class="z-depth-5 popup-hidden" id="edit-address">
      <h5 class="center" id="editAddressHeader">Edit Address</h5>
      <form class="container" action="/addresses/edit" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="text" name="addressDescription" id="addressDescription" value="{{address.description}}" autofocus>
            <label for="addressDescription">Description</label>
          </div>
          <input type="hidden" name="addressID" id="addressID" value="{{address.id}}">
          <input type="hidden" name="address" id="address" value="{{address.address}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="editAddress" id="editAddress">Submit</button>
            <button class="btn" type="button" name="cancel" id="editAddressCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/addresses.js"></script>