<div class="row mt-4">
  <div class="col s10 offset-s1">
    <h2>Addresses</h2>
    <table>
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Site</th>
          <th>Status</th>
          <th>Customer</th>
          <th>Description</th>
          <th>Subnet</th>
          <th>Gateway</th>
          <th>Prefix</th>
        </tr>
      </thead>
      <tbody>
        {{#each address}}
        <tr>
          <td id="{{this.ip}}">{{this.ip}}</td><td>{{this.site}}</td><td>{{this.status}}</td><td>{{this.customer}}</td><td>{{this.description}}</td><td>{{this.subnet}}</td><td>{{this.gateway}}</td><td>{{this.prefix}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>