<div class="container">
  <div class="right">
    <a href="/addresses/assign/?name={{customer.name}}" class="btn green lighten-2" id="assignCustomerBtn">Assign Address</a>
    <a class="btn blue lighten-2" id="editCustomerBtn">Edit Customer</a>
    <a class="btn red lighten-2" id="deleteCustomerBtn">Delete Customer</a>
  </div>
  <h3>{{customer.name}}</h3>
  {{#if customer.description}}<h6>Description - {{customer.description}}</h6>{{/if}}
  <div class="right mb-3">
    {{#if addresses.previous}}
      <a href="" class="btn pagination" id="{{addresses.previous}}"><i class="material-icons">navigate_before</i></a>
    {{else}}
      <a href="" class="btn disabled"><i class="material-icons">navigate_before</i></a>
    {{/if}}
    {{#if addresses.next}}
      <a href="" class="btn pagination" id="{{addresses.next}}"><i class="material-icons">navigate_next</i></a>
    {{else}}
      <a href="" class="btn disabled"><i class="material-icons">navigate_next</i></a>
    {{/if}}
  </div>
  {{#if prefixes}}
  <div class="row mt-4">
    <div class="col s12 no-padding">
      <table>
        <thead class="grey lighten-3">
          <tr>
            <th>Prefix</th>
            <th>Description</th>
            <th>Subnet</th>
            <th>Gateway</th>
          </tr>
        </thead>
        <tbody>
          {{#each prefixes.results}}
          <tr>
            <td>{{this.prefix}}</td>
            <td>{{this.description}}</td>
            <td>{{this.custom_fields.subnet}}</td>
            <td>{{this.custom_fields.gateway}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/if}}
  <div class="row mt-4">
    <div class="col s12 no-padding">
      <table id="theTable">
        <thead class="grey lighten-3">
          <tr>
            <th>IP Address</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each addresses.results}}
          <tr>
            <td><a href="/addresses/address/{{this.id}}">{{this.address}}</a></td><td>{{this.description}}</td><td><a href="#" alt="Unassign IP"><i class="unassignIP edit-item fas fa-trash tooltipped" data-tooltip="Unassign IP" id="{{this.id}}"></i></a></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="z-depth-5 popup-hidden" id="unassign-address">
      <h5 class="center" id="unassignIPHeader">Unassign IP from Customer?</h5>
      <br><br>
      <form class="container" action="/addresses" method="POST" class="col">
        <div class="row">
          <input type="hidden" name="unaddressID" id="unaddressID" value="">
          <div class="center-align mb-5">
            <button class="btn" type="button" name="uncancel" id="unassignCustomerCancel">Cancel</button>
            <button class="btn" type="submit" name="unassignCustomer" id="unassignCustomer">Unassign</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5 popup-hidden" id="edit-customer">
      <h5 class="center" id="editCustomerHeader">Edit Customer</h5>
      <form class="container" action="/customers/edit" method="POST" class="col">
        <div class="row">
          <div class="input-field">
            <input type="text" name="customerName" id="customerName" placeholder="{{customer.name}}">
            <label for="customerName">Name</label>
          </div>
          <div class="input-field">
            <input type="text" name="customerDescription" id="customerDescription" placeholder="{{customer.description}}">
            <label for="customerDescription">Description</label>
          </div>
          <input type="hidden" name="customerID" id="customerID" value="{{customer.id}}">
          <div class="center-align mb-5">
            <button class="btn" type="submit" name="editCustomer" id="editCustomer">Submit</button>
            <button class="btn" type="button" name="cancel" id="editCustomerCancel">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="z-depth-5 popup-hidden" id="delete-customer">
      <h5 class="center" id="deleteCustomerHeader">Confirm Delete</h5>
      <h6 class="center">Are you sure you want to delete this customer?</h6>
      <br><br>
      <form class="container" action="/customers/delete" method="POST" class="col">
        <div class="row">
          <input type="hidden" name="customerId" id="customerId" value="{{customer.id}}">
          <div class="center-align mb-5">
            <button class="btn" type="button" name="cancel" id="deleteCustomerCancel">Cancel</button>
            <button class="btn" type="submit" name="deleteCustomer" id="deleteCustomer">Delete</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="right mb-3">
    {{#if addresses.previous}}
      <a href="" class="btn pagination" id="{{addresses.previous}}"><i class="material-icons">navigate_before</i></a>
    {{else}}
      <a href="" class="btn disabled"><i class="material-icons">navigate_before</i></a>
    {{/if}}
    {{#if addresses.next}}
      <a href="" class="btn pagination" id="{{addresses.next}}"><i class="material-icons">navigate_next</i></a>
    {{else}}
      <a href="" class="btn disabled"><i class="material-icons">navigate_next</i></a>
    {{/if}}
  </div>
</div>
<script src="/js/customers.js"></script>